* {	
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0px none;
	outline: 0px;
	padding: 0px;
	margin: 0px;
}

body{
	background-color: black;
}

div.row{
	height: 20px;
}

div.row div{
	width: 20px;
	height: 20px;
	display: inline-block;
}

div.brick{
	background-color: #27006D;
}

div.coin{
	background: url("grateful_bear.gif");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}

div.bonus{
	background: url("mushroom.gif");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}

div.badguy{
	background: url("flame.gif");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}

div.endcharacter{
	background: url("psychedelic_sunset.gif");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}
/*.dancing{
	height: 1%;
	width: 5%;
}*/
div.dancing{
	display: flex;
	flex-direction: row;
}

#pacman{
	background: url("stealie_spin.gif");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#score{
	height: 20px;
	width: 40px;
	border: 2px solid green;
	color: white;
	text-align: center;
	padding: 7px;
	position: relative;
    left: 345px;
    bottom: 257px
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	display: flex;
	flex-direction: column;
    background-color: rgba(114,161,3, 0.95);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#deadBtn {
	font-variant: small-caps;
	background-color: black;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #001fe6;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	width: 48%;
}
#deadBtn:hover {
	color:black;
	font-variant: small-caps;
    /*font-size: xx-large;*/
	background-color:#ffffff;
	/*background-image: url("dancing-bears-edited.png");*/
	padding:6px 15px;
	background-size: contain;
}
#deadBtn:active {
	position:relative;
	top:1px;
}

